MySpaceSL4/LiteApp.MySpace/Service References/Services.Photo/PhotoService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.FaultHandling" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.FaultHandling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServerFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultCode" type="tns:ServerFaultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerFault" nillable="true" type="tns:ServerFault" />
  <xs:simpleType name="ServerFaultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Generic" />
      <xs:enumeration value="Unauthenticated" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServerFaultCode" nillable="true" type="tns:ServerFaultCode" />
</xs:schema>