MySpaceSL4/LiteApp.MySpace/Service References/Services.Photo/PhotoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Entities" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PhotoService_GetPagedAlbums_InputMessage">
    <wsdl:part name="parameters" element="GetPagedAlbums" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetPagedAlbums_OutputMessage">
    <wsdl:part name="parameters" element="GetPagedAlbumsResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_CreateAlbum_InputMessage">
    <wsdl:part name="parameters" element="CreateAlbum" />
  </wsdl:message>
  <wsdl:message name="PhotoService_CreateAlbum_OutputMessage">
    <wsdl:part name="parameters" element="CreateAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_CreateAlbum_ServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" name="detail" element="q1:ServerFault" />
  </wsdl:message>
  <wsdl:message name="PhotoService_UpdateAlbum_InputMessage">
    <wsdl:part name="parameters" element="UpdateAlbum" />
  </wsdl:message>
  <wsdl:message name="PhotoService_UpdateAlbum_OutputMessage">
    <wsdl:part name="parameters" element="UpdateAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_UpdateAlbum_ServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" name="detail" element="q2:ServerFault" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteAlbum_InputMessage">
    <wsdl:part name="parameters" element="DeleteAlbum" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteAlbum_OutputMessage">
    <wsdl:part name="parameters" element="DeleteAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteAlbum_ServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" name="detail" element="q3:ServerFault" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetPagedPhotos_InputMessage">
    <wsdl:part name="parameters" element="GetPagedPhotos" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetPagedPhotos_OutputMessage">
    <wsdl:part name="parameters" element="GetPagedPhotosResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeletePhotos_InputMessage">
    <wsdl:part name="parameters" element="DeletePhotos" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeletePhotos_OutputMessage">
    <wsdl:part name="parameters" element="DeletePhotosResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeletePhotos_ServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" name="detail" element="q4:ServerFault" />
  </wsdl:message>
  <wsdl:message name="PhotoService_UpdateDescription_InputMessage">
    <wsdl:part name="parameters" element="UpdateDescription" />
  </wsdl:message>
  <wsdl:message name="PhotoService_UpdateDescription_OutputMessage">
    <wsdl:part name="parameters" element="UpdateDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_UpdateDescription_ServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" name="detail" element="q5:ServerFault" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetComments_InputMessage">
    <wsdl:part name="parameters" element="GetComments" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetComments_OutputMessage">
    <wsdl:part name="parameters" element="GetCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_CreateComment_InputMessage">
    <wsdl:part name="parameters" element="CreateComment" />
  </wsdl:message>
  <wsdl:message name="PhotoService_CreateComment_OutputMessage">
    <wsdl:part name="parameters" element="CreateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_CreateComment_ServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" name="detail" element="q6:ServerFault" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteComment_InputMessage">
    <wsdl:part name="parameters" element="DeleteComment" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteComment_OutputMessage">
    <wsdl:part name="parameters" element="DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteComment_ServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" name="detail" element="q7:ServerFault" />
  </wsdl:message>
  <wsdl:portType name="PhotoService">
    <wsdl:operation name="GetPagedAlbums">
      <wsdl:input wsaw:Action="urn:PhotoService/GetPagedAlbums" message="PhotoService_GetPagedAlbums_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/GetPagedAlbumsResponse" message="PhotoService_GetPagedAlbums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAlbum">
      <wsdl:input wsaw:Action="urn:PhotoService/CreateAlbum" message="PhotoService_CreateAlbum_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/CreateAlbumResponse" message="PhotoService_CreateAlbum_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:PhotoService/CreateAlbumServerFaultFault" name="ServerFaultFault" message="PhotoService_CreateAlbum_ServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlbum">
      <wsdl:input wsaw:Action="urn:PhotoService/UpdateAlbum" message="PhotoService_UpdateAlbum_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/UpdateAlbumResponse" message="PhotoService_UpdateAlbum_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:PhotoService/UpdateAlbumServerFaultFault" name="ServerFaultFault" message="PhotoService_UpdateAlbum_ServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbum">
      <wsdl:input wsaw:Action="urn:PhotoService/DeleteAlbum" message="PhotoService_DeleteAlbum_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/DeleteAlbumResponse" message="PhotoService_DeleteAlbum_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:PhotoService/DeleteAlbumServerFaultFault" name="ServerFaultFault" message="PhotoService_DeleteAlbum_ServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPagedPhotos">
      <wsdl:input wsaw:Action="urn:PhotoService/GetPagedPhotos" message="PhotoService_GetPagedPhotos_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/GetPagedPhotosResponse" message="PhotoService_GetPagedPhotos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhotos">
      <wsdl:input wsaw:Action="urn:PhotoService/DeletePhotos" message="PhotoService_DeletePhotos_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/DeletePhotosResponse" message="PhotoService_DeletePhotos_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:PhotoService/DeletePhotosServerFaultFault" name="ServerFaultFault" message="PhotoService_DeletePhotos_ServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDescription">
      <wsdl:input wsaw:Action="urn:PhotoService/UpdateDescription" message="PhotoService_UpdateDescription_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/UpdateDescriptionResponse" message="PhotoService_UpdateDescription_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:PhotoService/UpdateDescriptionServerFaultFault" name="ServerFaultFault" message="PhotoService_UpdateDescription_ServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <wsdl:input wsaw:Action="urn:PhotoService/GetComments" message="PhotoService_GetComments_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/GetCommentsResponse" message="PhotoService_GetComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateComment">
      <wsdl:input wsaw:Action="urn:PhotoService/CreateComment" message="PhotoService_CreateComment_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/CreateCommentResponse" message="PhotoService_CreateComment_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:PhotoService/CreateCommentServerFaultFault" name="ServerFaultFault" message="PhotoService_CreateComment_ServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input wsaw:Action="urn:PhotoService/DeleteComment" message="PhotoService_DeleteComment_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/DeleteCommentResponse" message="PhotoService_DeleteComment_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:PhotoService/DeleteCommentServerFaultFault" name="ServerFaultFault" message="PhotoService_DeleteComment_ServerFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>