MySpaceSL4/LiteApp.MySpace/Service References/Services.Photo/PhotoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PhotoService_GetAllAlbums_InputMessage">
    <wsdl:part name="parameters" element="GetAllAlbums" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetAllAlbums_OutputMessage">
    <wsdl:part name="parameters" element="GetAllAlbumsResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_SaveAlbum_InputMessage">
    <wsdl:part name="parameters" element="SaveAlbum" />
  </wsdl:message>
  <wsdl:message name="PhotoService_SaveAlbum_OutputMessage">
    <wsdl:part name="parameters" element="SaveAlbumResponse" />
  </wsdl:message>
  <wsdl:portType name="PhotoService">
    <wsdl:operation name="GetAllAlbums">
      <wsdl:input wsaw:Action="urn:PhotoService/GetAllAlbums" message="PhotoService_GetAllAlbums_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/GetAllAlbumsResponse" message="PhotoService_GetAllAlbums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAlbum">
      <wsdl:input wsaw:Action="urn:PhotoService/SaveAlbum" message="PhotoService_SaveAlbum_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/SaveAlbumResponse" message="PhotoService_SaveAlbum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>