MySpaceSL4/LiteApp.MySpace/Service References/Services.Photo/PhotoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Entities" />
  <xs:complexType name="PagedResultOfAlbumYX32z0hB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Services" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Album" Namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Entities" minOccurs="0" name="Entities" nillable="true" type="q1:ArrayOfAlbum" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedResultOfAlbumYX32z0hB" nillable="true" type="tns:PagedResultOfAlbumYX32z0hB" />
  <xs:complexType name="PagedResultOfPhotoYX32z0hB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Services" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Photo" Namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Entities" minOccurs="0" name="Entities" nillable="true" type="q2:ArrayOfPhoto" />
      <xs:element minOccurs="0" name="TotalItemCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedResultOfPhotoYX32z0hB" nillable="true" type="tns:PagedResultOfPhotoYX32z0hB" />
  <xs:complexType name="ArrayOfDeletePhotoParameters">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletePhotoParameters" nillable="true" type="tns:DeletePhotoParameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeletePhotoParameters" nillable="true" type="tns:ArrayOfDeletePhotoParameters" />
  <xs:complexType name="DeletePhotoParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeletePhotoParameters" nillable="true" type="tns:DeletePhotoParameters" />
</xs:schema>