MySpaceSL4/LiteApp.MySpace/Service References/Services.Photo/PhotoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Services" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Entities" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:11846/Services/PhotoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.FaultHandling" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PhotoService_GetPagedAlbums_InputMessage">
    <wsdl:part name="parameters" element="GetPagedAlbums" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetPagedAlbums_OutputMessage">
    <wsdl:part name="parameters" element="GetPagedAlbumsResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_SaveAlbum_InputMessage">
    <wsdl:part name="parameters" element="SaveAlbum" />
  </wsdl:message>
  <wsdl:message name="PhotoService_SaveAlbum_OutputMessage">
    <wsdl:part name="parameters" element="SaveAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_SaveAlbum_ServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.FaultHandling" name="detail" element="q1:ServerFault" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteAlbum_InputMessage">
    <wsdl:part name="parameters" element="DeleteAlbum" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteAlbum_OutputMessage">
    <wsdl:part name="parameters" element="DeleteAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetPagedPhotos_InputMessage">
    <wsdl:part name="parameters" element="GetPagedPhotos" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetPagedPhotos_OutputMessage">
    <wsdl:part name="parameters" element="GetPagedPhotosResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetComments_InputMessage">
    <wsdl:part name="parameters" element="GetComments" />
  </wsdl:message>
  <wsdl:message name="PhotoService_GetComments_OutputMessage">
    <wsdl:part name="parameters" element="GetCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_SaveComment_InputMessage">
    <wsdl:part name="parameters" element="SaveComment" />
  </wsdl:message>
  <wsdl:message name="PhotoService_SaveComment_OutputMessage">
    <wsdl:part name="parameters" element="SaveCommentResponse" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteComment_InputMessage">
    <wsdl:part name="parameters" element="DeleteComment" />
  </wsdl:message>
  <wsdl:message name="PhotoService_DeleteComment_OutputMessage">
    <wsdl:part name="parameters" element="DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="PhotoService">
    <wsdl:operation name="GetPagedAlbums">
      <wsdl:input wsaw:Action="urn:PhotoService/GetPagedAlbums" message="PhotoService_GetPagedAlbums_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/GetPagedAlbumsResponse" message="PhotoService_GetPagedAlbums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAlbum">
      <wsdl:input wsaw:Action="urn:PhotoService/SaveAlbum" message="PhotoService_SaveAlbum_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/SaveAlbumResponse" message="PhotoService_SaveAlbum_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:PhotoService/SaveAlbumServerFaultFault" name="ServerFaultFault" message="PhotoService_SaveAlbum_ServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAlbum">
      <wsdl:input wsaw:Action="urn:PhotoService/DeleteAlbum" message="PhotoService_DeleteAlbum_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/DeleteAlbumResponse" message="PhotoService_DeleteAlbum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPagedPhotos">
      <wsdl:input wsaw:Action="urn:PhotoService/GetPagedPhotos" message="PhotoService_GetPagedPhotos_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/GetPagedPhotosResponse" message="PhotoService_GetPagedPhotos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <wsdl:input wsaw:Action="urn:PhotoService/GetComments" message="PhotoService_GetComments_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/GetCommentsResponse" message="PhotoService_GetComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComment">
      <wsdl:input wsaw:Action="urn:PhotoService/SaveComment" message="PhotoService_SaveComment_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/SaveCommentResponse" message="PhotoService_SaveComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input wsaw:Action="urn:PhotoService/DeleteComment" message="PhotoService_DeleteComment_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhotoService/DeleteCommentResponse" message="PhotoService_DeleteComment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>