MySpaceSL4/LiteApp.MySpace/Service References/Services.Security/SecurityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:11846/Services/SecurityService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:11846/Services/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11846/Services/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.Services" />
      <xsd:import schemaLocation="http://localhost:11846/Services/SecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SecurityService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="SignIn" />
  </wsdl:message>
  <wsdl:message name="SecurityService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="SignInResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityService_SignOut_InputMessage">
    <wsdl:part name="parameters" element="SignOut" />
  </wsdl:message>
  <wsdl:message name="SecurityService_SignOut_OutputMessage">
    <wsdl:part name="parameters" element="SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="SignUp" />
  </wsdl:message>
  <wsdl:message name="SecurityService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityService_RequestPhotoUploadTicket_InputMessage">
    <wsdl:part name="parameters" element="RequestPhotoUploadTicket" />
  </wsdl:message>
  <wsdl:message name="SecurityService_RequestPhotoUploadTicket_OutputMessage">
    <wsdl:part name="parameters" element="RequestPhotoUploadTicketResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityService_RequestPhotoUploadTicket_ServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Web.ErrorHandling" name="detail" element="q1:ServerFault" />
  </wsdl:message>
  <wsdl:message name="SecurityService_IsAuthenticated_InputMessage">
    <wsdl:part name="parameters" element="IsAuthenticated" />
  </wsdl:message>
  <wsdl:message name="SecurityService_IsAuthenticated_OutputMessage">
    <wsdl:part name="parameters" element="IsAuthenticatedResponse" />
  </wsdl:message>
  <wsdl:portType name="SecurityService">
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="urn:SecurityService/SignIn" message="SecurityService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="urn:SecurityService/SignInResponse" message="SecurityService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:input wsaw:Action="urn:SecurityService/SignOut" message="SecurityService_SignOut_InputMessage" />
      <wsdl:output wsaw:Action="urn:SecurityService/SignOutResponse" message="SecurityService_SignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="urn:SecurityService/SignUp" message="SecurityService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="urn:SecurityService/SignUpResponse" message="SecurityService_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestPhotoUploadTicket">
      <wsdl:input wsaw:Action="urn:SecurityService/RequestPhotoUploadTicket" message="SecurityService_RequestPhotoUploadTicket_InputMessage" />
      <wsdl:output wsaw:Action="urn:SecurityService/RequestPhotoUploadTicketResponse" message="SecurityService_RequestPhotoUploadTicket_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:SecurityService/RequestPhotoUploadTicketServerFaultFault" name="ServerFaultFault" message="SecurityService_RequestPhotoUploadTicket_ServerFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAuthenticated">
      <wsdl:input wsaw:Action="urn:SecurityService/IsAuthenticated" message="SecurityService_IsAuthenticated_InputMessage" />
      <wsdl:output wsaw:Action="urn:SecurityService/IsAuthenticatedResponse" message="SecurityService_IsAuthenticated_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>