MySpaceSL4/LiteApp.MySpace/Service References/Services.Logging/LoggingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11846/Services/LoggingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Entities" />
  <xs:element name="GetPagedLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LiteApp.MySpace.Entities" minOccurs="0" name="GetPagedLogsResult" nillable="true" type="q1:PagedResultOfLogEntrynt7Q0yEt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>